registry=https://pkgs.dev.azure.com/gfal-gmbh/_packaging/gfal-gmbh/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/gfal-gmbh/_packaging/gfal-gmbh/npm/registry/:username=gfal-gmbh
//pkgs.dev.azure.com/gfal-gmbh/_packaging/gfal-gmbh/npm/registry/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//pkgs.dev.azure.com/gfal-gmbh/_packaging/gfal-gmbh/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/gfal-gmbh/_packaging/gfal-gmbh/npm/:username=gfal-gmbh
//pkgs.dev.azure.com/gfal-gmbh/_packaging/gfal-gmbh/npm/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//pkgs.dev.azure.com/gfal-gmbh/_packaging/gfal-gmbh/npm/:email=npm requires email to be set but doesn't use the value
; end auth token